<div class="message no-show" [ngClass]="{ show: pSelected === true }">
  <div class="row ">
    <div class="col-4 offset-2">
      You chose: <span class="result">{{ pWeapon | titlecase }}</span>
    </div>
    <div class="col-4 offset-2">
      Computer chose:
      <span class="result">{{ cWeapon | titlecase }}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-4 offset-4">
      This round result:
      <span class="result">{{ msg | titlecase }}</span>
    </div>
  </div>
  <div class="row">
    <h2 class="col-4 offset-5">{{ pPoints }} - {{ cPoints }}</h2>
    <h2 class="col-4 offset-4">{{ res }}</h2>
  </div>
</div>