  
  .row {
    margin: 10px;
  }

  
  h2 {
    color: darkslateblue;
  }

  .result {
    color: darkslateblue;
    font-weight: bold;
  }
  
  .no-show {
    display: none;
  }
  
  .show {
    display: block;
  }
