<div class="row container">
  <div class="col-6">
    <mat-card class="player-card">
      <div class="row">
        <mat-card-title class="col-10">You</mat-card-title>
        <button mat-fab [disabled]="true">
          {{ playerPoints }}
        </button>
      </div>
      <mat-card-content>
        <h6>Select one weapon:</h6>
        <button (click)="selectWeapon(weapon.rock)">
          <img
            src="../assets/images/rock.png"
            [ngClass]="{ selectedWeapon: playerWeapon === 'rock' }"
          />
        </button>
        <button (click)="selectWeapon(weapon.paper)">
          <img
            src="../assets/images/paper.png"
            [ngClass]="{ selectedWeapon: playerWeapon === 'paper' }"
          />
        </button>
        <button (click)="selectWeapon(weapon.scissor)">
          <img
            src="../assets/images/scissor.png"
            [ngClass]="{ selectedWeapon: playerWeapon === 'scissor' }"
          />
        </button>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-6">
    <mat-card class="computer-card">
      <div class="row">
        <mat-card-title class="col-10">Computer</mat-card-title>
        <button mat-fab [disabled]="true">
          {{ computerPoints }}
        </button>
      </div>
      <mat-card-content>
        <h6>Computer weapon:</h6>
        <button>
          <img
            src="../assets/images/rock.png"
            [ngClass]="{ selectedWeapon: computerWeapon === 'rock' }"
          />
        </button>
        <button>
          <img
            src="../assets/images/paper.png"
            [ngClass]="{ selectedWeapon: computerWeapon === 'paper' }"
          />
        </button>
        <button>
          <img
            src="../assets/images/scissor.png"
            [ngClass]="{ selectedWeapon: computerWeapon === 'scissor' }"
          />
        </button>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<app-messages
  [pWeapon]="playerWeapon"
  [pSelected]="playerSelected"
  [cWeapon]="computerWeapon"
  [msg]="message"
  [pPoints]='playerPoints'
  [cPoints]='computerPoints'
  [res]='result'
></app-messages>
