
  mat-card-title {
    border-bottom: 1px solid #0000ff1f;
    color: darkslateblue;
  }
  
  .mat-fab.mat-accent {
    background-color: darkslateblue;
  }
  
  .row {
    margin: 10px;
  }
  
  .container {
    margin-top: 50px;
  }
  
  button {
    background-color: transparent;
    border-color: transparent;
  }
  
  img {
    width: 60px;
    height: 60px;
    opacity: 0.6;
  }
  
  .selectedWeapon {
    opacity: 1;
    width: 80px;
    height: 80px;
  }

  .mat-fab[disabled]:not([class*="mat-elevation-z"]) {
    color: white;
  }
