
  .row {
    margin: 10px;
  }
  
  mat-accordion{
    width: 100%;
  }
  
  .material-icons{
    font-size: 7px;
    color: #4886c9;
    padding: 5px;
  }
  
  .mat-expansion-panel-header-title{
    color: #4886c9;
    font-size: 17px;
    font-weight: 500;
  }