<div class="row rules">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Game Rules
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-divider></mat-divider>
      <mat-list>
        <mat-list-item
          ><i class="material-icons">
            fiber_manual_record
          </i>
          Scissors beats Paper</mat-list-item
        >
        <mat-list-item
          ><i class="material-icons">
            fiber_manual_record </i
          >Rock beat Scissors</mat-list-item
        >
        <mat-list-item
          ><i class="material-icons">
            fiber_manual_record
          </i>
          Paper beats Rock</mat-list-item
        >
        <mat-list-item
          ><i class="material-icons">
            fiber_manual_record
          </i>
          If both players choose the same, the round is counted as a tie.</mat-list-item
        >
      </mat-list>  
    </mat-expansion-panel>
  </mat-accordion>
</div>