/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  width: 70%;
  margin: auto;
}
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
